@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.NavBar{
    background-color: #000000;
    
}

.navbar-nav{
    gap: 50px;
}
.nav-item a{
    color: #fff;
    font-size: 28px;
    
}
.nav-item a:hover{
    background-color: #C00;
    border-radius: 5px;
}
header{
    height: 70vh;
    justify-content: space-around;
    display: flex;
    background-color: #0e0c0c;
}
main{
    background-color: #000;
}
.ServicioRelleno{
    margin-top: 40px;
    width: 500px;
    height: 650px;
    border-radius: 50px;
    overflow: hidden;
}
.ServicioRelleno img{
    height: 100%;
}

.ServicioContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 50%;
    height: 600px;
}
.ServicioContent a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.ServicioContent a:hover{
    background-color: #000;
    color: #FFF;
     border-bottom: 5px solid #C00;
}

.Title{
    text-align: center;
    font-size: 80px;
    color: #ffffff;
    font-family: 'Staatliches', cursive;
}
.Info{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    
}

.Servicios{
    display: flex;
    align-items: center;
    
    height: 600px;
    margin-left: 80px;
    gap: 50px;

}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-image: url(./assets/produccion2.jpg);
    overflow: hidden;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    transition:all .5s ease-in-out;
}


.Card h2{
    text-align: start;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    background-color: #07070780;
    font-family: 'Staatliches', cursive;
}

.Card a{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    width: 250px;
    padding: 10px;
    margin-top: 19%;
    border-radius: 5px;
}
.Price{
    color: rgb(253, 253, 253);
    background-color: #00000096;
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-top:120px ;
    font-family: 'Staatliches', cursive;
}
.Card:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}

.Card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/produccion3.jpg);
    background-size: 143%;
    width: 500px;
    height: 400px;
    border-radius: 1rem;
    transition:all .5s ease-in-out;
}

.Card2 h2{
    
    text-align: end;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    background-color: #07070780;
    font-family: 'Staatliches', cursive;
}
.Card2 a{
        text-align: center;
        font-size: 24px;
        text-decoration: none;
        color: #fff;
        background-color: #000;
        width: 250px;
        padding: 10px;
        margin-top: 50%;
        border-radius: 5px;
}
.Card2:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}
.Card a:hover{
    background-color: #ffffff;
    color: #000000;
    transition:all .5s ease-in-out;
}
.Card2 a:hover{
    background-color: #ffffff;
    color: #000000;
    transition:all .5s ease-in-out;
}

.ContactoContainer{
    background-color: #b9b6b6;
    width: 800px;
    height: 400px;
    border-radius: 1rem;
    overflow: hidden;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    background-color: #000000;
}
.footer h3{
    color: #fff;
    border-bottom: 5px solid #C00;
    text-align: center;
}
.footer li{
    margin-bottom: 25px;
}
.ItemFooter{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
    font-family: 'Staatliches', cursive;
}
.Nosotros{
    width: 500px;
   
}
.Nosotros p{
    color: #fff;
    font-size: 20px;
}